<div
  {{did-insert this.setup}}
  {{style width="100%" height="100%"}}
>
  <div
    ...attributes
    {{style width=(css-size @width "100%") height=(css-size @height 400)}}
    {{bar-chart
      this.args
      tooltipFormatter=(if (or (has-block "itemTooltip") this.useDefaultGroupedOrStackedTooltip) this.tooltipFormatter)
    }}
  ></div>

  {{#if (has-block "itemTooltip")}}
    <div
      data-role="itemTooltip"
      style={{html-safe (if this.tooltipItem "" "display: none")}}
    >
      {{yield this.tooltipItem to="itemTooltip"}}
    </div>
  {{else if this.useDefaultGroupedOrStackedTooltip}}
    <div
      data-role="itemTooltip"
      style={{html-safe (if this.tooltipItem "" "display: none")}}
    >
      {{!-- template-lint-disable no-triple-curlies --}}
      {{{this.tooltipItem.marker}}}
      {{this.tooltipItem.series.label}}:
      {{this.tooltipItem.value}}
    </div>
  {{/if}}

  {{#if (has-block "axisTooltip")}}
    <div
      data-role="axisTooltip"
      style={{html-safe (if this.tooltipItems "" "display: none")}}
    >
      {{yield this.tooltipItems this.tooltipAxis to="axisTooltip"}}
    </div>
  {{/if}}
</div>